{% extends 'base.html.twig' %}

{% block title %}Edit|Organisation{% endblock %}

{% block body %}
    <div class="container">
        <div class="offset-md-2 col-md-8">
            <div class="card">
                <div class="card-body">
                    <p class="fs-3 mb-4">Contact de l'organisateur du {{tender.title}}</p>
                    {{ include('contact/_form.html.twig') }}
                </div>
           </div>
        </div>
    </div>
{% endblock %}
