{% extends 'base.html.twig' %}

{% block title %}Edit Calendar{% endblock %}

{% block body %}
    <h1>Modification</h1>
    {{ include('calendar/_form.html.twig', {'button_label': 'Appliquer la modification'}) }}
{% endblock %}
