{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="d-flex flex-nowrap">
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: 280px;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none">
          
          <span class="fs-4">SuperNom</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a href="#" class="nav-link" aria-current="page">
              Home
            </a>
          </li>
          <li>
            <a href="#" class="nav-link">
              Dashboard
            </a>
          </li>
          <li>
            <a href="#" class="nav-link">
              Orders
            </a>
          </li>
          <li>
            <a href="#" class="nav-link">
              Products
            </a>
          </li>
          <li>
            <a href="{{ path('app_contact_index') }}" class="nav-link">
              Contacts
            </a>
          </li>
        </ul>
        <hr>
    </div>
    <div class="container-fluid">
        <nav class="navbar navbar-light bg-light">
            <div class="container d-flex justify-content-between">
              <a class="navbar-brand" href="#">
                Accueil
              </a>
                {% if app.user %}
                        <a href="{{ path('app_logout') }}" class="nav-link">Logout</a>
                {% else %}
                    <a href="{{ path('app_login') }}" class="nav-link">Login</a>
                {% endif %}
             
            </div>
        </nav>
      </div>
</div>
{% endblock %}
