{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <div class="container-fluid">
        <nav class="navbar navbar-light bg-light">
            <div class="container d-flex justify-content-between">
              <a class="navbar-brand" href="#">
                Accueil
              </a>
                {% if app.user %}
                        <a href="{{ path('app_logout') }}" class="nav-link">Logout</a>
                {% else %}
                    <a href="{{ path('app_login') }}" class="nav-link">Login</a>
                {% endif %}
             
            </div>
        </nav>
      </div>
{% endblock %}
