<!DOCTYPE html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
 
    <script src="https://cdn.dhtmlx.com/gantt/edge/dhtmlxgantt.js"></script>
    <link href="https://cdn.dhtmlx.com/gantt/edge/dhtmlxgantt.css" rel="stylesheet">
 
    <style type="text/css">
        html, body{
            height:100%;
            padding:0px;
            margin:0px;
            overflow: hidden;
        }

    </style>
</head>
<body>
<div id="gantt_here" style='width:100%; height:100%;'></div>
<script type="text/javascript">
          gantt.config.readonly = true;
          gantt.config.columns = [
            { name: "text", label: "Tache", width: "*", tree: true,align: "start"  },
            { name: "start_date", label: "Date de debut", align: "center" },
            { name: "duration", label: "Durrée", align: "center" },
       ];
        gantt.attachEvent("onTaskDblClick", function(id,e){
            gantt.showLightbox(id)
            return true;
        });
          gantt.init("gantt_here");
          gantt.load("/gantt/data");
          gantt.config.xml_date = "%Y-%m-%d %H:%i";
</script>
</body>