<form method="post" action="{{ path('app_file_delete', {'id': file.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette liste?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ file.id) }}">
    <button class="btn link-danger"><i class="bi bi-trash3-fill"></i></button>
</form>
