{% extends 'base.html.twig' %}

{% block title %}Edit File{% endblock %}

{% block body %}
   <div class="container">
        <div class="row mt-5">
            <div class="offset-2 col-md-8">
                <p class="h1">Modifier le fichier</p>
                <p class="h5 mt-3"><bold>Fichier actuel: {{ file.filename }}</bold></p>
                

                {{ include('components/_form.html.twig', {'button_label': 'Modifier'}) }}
            
            </div>
        </div>
   </div>
{% endblock %}
