{% extends 'base.html.twig' %}

{% block title %}Edit Task{% endblock %}

{% block navbar %}
    {{ include('components/project_navbar.html.twig',{'project_id':task.milestone.project.id})}}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="offset-3 col-md-6">
            <h1>Modifier la tache</h1>
            {{ include('task/_form.html.twig', {'button_label': 'Modifier'}) }}
        </div>
    </div>

{% endblock %}
