{% extends 'base.html.twig' %}

{% block title %}Add|Tender{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-md-8">
                <div class="align-self-center card">
                    <div class="card-body">
                        <p class="fs-2 mb-3">Ajouter un appel d'offre</p>
                        {{ include('tender/_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
