{% extends 'base.html.twig' %}

{% block title %}Edit Contact{% endblock %}

{% block body %}
   <div class="container">
        <div class="row">
            <h1>Modifier le contact</h1>
            {{ include('components/_form.html.twig', {'button_label': 'Appliquer la modification'}) }}
        
        </div>
   </div>
{% endblock %}
