{% extends 'base.html.twig' %}

{% block title %}New Contact{% endblock %}

{% block body %}
 <div class="container">
    <div class="row">
        <h1>Ajouter un contact</h1>
        {{ include('components/_form.html.twig') }}
    </div>
 </div>
{% endblock %}
