<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}SuperNom{% endblock %}</title>
        
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
      <div class="d-flex flex-nowrap">

        {% if app.user %}
        <div class="d-flex flex-column flex-shrink-0 p-3" >
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none">
            <span class="fs-4">SuperNom</span>
          </a>
          <hr>
          <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
              
              <a href="#" class="nav-link">
                <i class="bi bi-house"></i> Accueil
              </a>
            </li>
            <li class="nav-item">
              <a href="{{ path('app_project_index') }}" class="nav-link">
                <i class="bi bi-file-earmark"></i>
                Appel d'offre
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="bi bi-credit-card"></i>
                Flux de tresorerie
              </a>
            </li>
            <li class="nav-item">
              <a href="{{ path('app_contact_index') }}" class="nav-link">
                <i class="bi bi-people"></i> Contacts
              </a>
            </li>
          </ul>
          <hr>
      </div>
        {% endif %}
        
            {% block body %}{% endblock %}
    
    </div>
          
    </body>
</html>
