{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        Ajouter des fichiers au projet.
    </div>
</div>
{% endblock %}